.wrapper {
  display: flex;
  align-items: center;
}

.wrapper > div {
  padding: 0 2px 0px 0px; /* adjust as needed */
  margin-right: 5px; /* adjust as needed */
}

button#btn {
  background-color: var(--light);
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-size: large;
}

button#btn:focus {
  outline: none;
}

.wrapper svg {
  vertical-align: middle; /* or use another value like baseline, bottom, etc. */
}
