.toc {
  position: sticky;
  font-size: 0.9rem;
  top: 20px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  border-radius: 8px;
  padding: 0.5rem;
  transition: max-height 0.3s ease, box-shadow 0.3s ease;

  // Styles for the scrollbar
  & #toc-content ul {
    scrollbar-width: thin;
    scrollbar-color: var(--lightgray) var(--light);

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: var(--light);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--lightgray);
      border-radius: 4px;
      border: 2px solid var(--light);
    }
  }


  &.collapsed {
    #toc-content {
      display: none;
    }

    button#toc .fold {
      transform: rotate(-90deg);
    }
  }

  .toc-progress-bar {
    height: 3px;
    background-color: var(--secondary);
    transition: width 0.3s ease;
    margin: 0.5rem 0;
  }

  button#toc {
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    color: var(--dark);
    display: flex;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--lightgray);
    }

    h3 {
      font-size: 1rem;
      margin: 0;
    }

    .fold {
      margin-left: auto;
      transition: transform 0.3s ease;
    }
  }

  #toc-content {
    overflow-y: auto;
    max-height: calc(100vh - 120px);
    padding: 0.25rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      color: var(--dark);
      text-decoration: none;
      opacity: 0.7;
      transition: opacity 0.3s ease;
      display: block;
      &:hover,
      &.in-view {
        opacity: 1;
      }
    }

    @for $i from 0 through 5 {
      .depth-#{$i} {
        padding-left: #{$i * 0.5}rem;
      }
    }
  }
}